# -----------------------------------------------------------------------------
# This file is part of The cold-store app.
#
# Copyright (c) 2024 Mahmood Maher
#
# Licensed under the MIT License. See the LICENSE file in the project root for
# full license information.
# -----------------------------------------------------------------------------
# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.

# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false
